<%= @user.email %>

<% @memberships.each do |membership| %>
  <% project = Project.find(membership.project_id)%>
  <p>
    <%= link_to project.name, project_path(project) %> -
    <%= project.description %>
    <% if membership.admin == true %>
       - (admin)
    <% else %>
       - (member)
    <% end %>
  </p>
<% end %>